.git
.github
.gitignore
**/__pycache__
**/*.py[cod]
project_venv
venv
.venv
env
db.sqlite3
db.sqlite3-journal
staticfiles
.env
.env.*
.coverage
.pytest_cache
.ruff_cache
.mypy_cache
.DS_Store
docs
CONTRIBUTING.md
README.md
